@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* .mainContiner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
} */
.mainContiner {
    width: 100%;
    /* border: 1px solid black; */
    display: block;
    /* height: 1000px; */
}

.navBar {
    position: fixed;
    display: block;
    width: 100%;
    background: white;
    z-index: 10;
}

.nav-top {
    display: flex;
    padding: 0 5% 0 5%;
    height: 40px;
    width: 100%;
    text-transform: capitalize;
    line-height: 40px;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: white;
}

.nav-top .findStore {
    color: rgb(67, 67, 255);
}

.nav-top .free {
    color: rgb(172, 43, 0);
    text-transform: uppercase;
    font-weight: 500;
}

.top-box {
    padding-right: 20px;
}

.top-box a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 5px;
}

.top-box p {
    display: flex;
    align-items: center;
}

.box3 {
    position: absolute;
    right: 5%;
    /* border: 1px solid black; */
    padding: 0;
}

.top-box ul {
    list-style: none;
    display: flex;
}

.top-box li {
    padding-right: 15px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lastli {
    padding: 0;
}

.top-box img {
    height: 20px;
    /* border: 1px solid black; */
    margin-right: 10px;
}

/* ------------------------------------------mid nav-------------------------------- */

.mid-nav {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: white;
}

.logo img {
    width: 100px;
}

.search {
    /* border: 1px solid black; */
    width: 800px;
    border-radius: 50px;
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
    background: rgb(224, 224, 224);
}

.search span {
    margin-left: 15px;
}

.search input {
    outline: none;
    border: none;
    padding: 0 10px;
    width: 100%;
    background: none;
    height: 100%;
}

.search input::placeholder {
    font-size: 15px;
    color: rgb(116, 116, 116);
}

.profile span {
    font-size: 40px;
    cursor: pointer;
}

.profile span:first-child {
    margin-right: 15px;
}

.cart {
    position: relative;
}

.cartCount {
    position: absolute;
    right: 0;
    background-color: rgb(255, 170, 78);
    font-size: 15px;
    font-weight: 500;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 1px 2px 1px  rgb(122, 122, 122); */
}

.bottom-nav {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0 5%;
    background: white;
    box-sizing: border-box;
}

.bottom-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    position: relative;
}

.bottom-nav ul li {
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;

}

.bottom-nav ul li:hover .dropDown {
    display: block;
}

.bottom-nav ul li a {

    color: #000;
    text-decoration: none;
}

/* ----------------------------------------------dropdown div ------------- */
.dropDown {
    position: absolute;
    top: 40px;
    left: 0%;
    height: 70vh;
    width: 100%;
    border: 1px solid black;
    background: #ffffff;
    display: none;
}

/* .dropDown .drop-cont{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid rgb(211, 19, 19);

} */
/* .drop-cont div ul{
 
  width: 200px;
  
} */
.dropDown div {
    display: flex;
}







/* payment page css */






* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    /* background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%); */
    background: #2ecc71;
    padding-top: 300px;
}

.container form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.container form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputBox {
    margin: 15px 0;
}

.container form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.container form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputBox {
    margin-top: 5px;
}

.container form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.container form .submit-btn:hover {
    background: #2ecc71;
}




/* footer */
#main-footer {
    border-top: 1px solid rgb(204, 204, 204);
    background: #f0f0dd;
}

#footer1 {
    width: 100%;
    display: flex;
    padding: 0 5%;

    border-bottom: 1px solid rgb(204, 204, 204);
    height: 80px;
    padding-bottom: 10px;

}

#footer1 h4 {
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
}

#footer1 div {
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

#footer1 div span {
    margin-right: 10px;
    font-size: 35px;
    font-weight: 300;
}

#footer2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding: 20px 5%;
    border-bottom: 1px solid rgb(204, 204, 204);
}

#footer2 div a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#footer2 div a p {

    font-family: 'Cabin', sans-serif;

    margin: 10px 0;
}

#footer2 h4 {
    font-weight: bold;
    font-family: "Bebas Neue", cursive;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
}



.footer3 {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 5%;
    align-items: center;
    /* justify-content: space-between; */

    /* background-color: aliceblue; */
}

.footer3 h2 {
    margin-right: 50px;
}

.footer3 h2 a {
    font-family: "Bebas Neue", cursive;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer3 .social {
    display: flex;
    margin-right: 350px;

}

.footer3 .social img {
    width: 35px;


}

.footer3 .social li {
    margin: 0 20px;
    cursor: pointer;
    transition: 1000ms;
    padding: 5px;
    border-radius: 30px;
    line-height: 3px;
    margin-top: 0px;
    box-shadow: 0px 2px 2px rgb(56, 56, 56);

}

.footer3 .social li:hover {
    margin-top: -3px;
    transition: 300ms;
    box-shadow: 0px 13px 10px rgb(143, 143, 143);
}

.footer3 .logo {
    display: flex;
    list-style: none;
}

.footer3 .comp-logo {
    display: flex;
    list-style: none;
}

.comp-logo li {
    list-style: none;
    padding: 0 20px;
    cursor: pointer;


}

.comp-logo p {
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;


}

/* #footer3 img {
  width: 50px;
  height: 50px;
  padding-left: 50px; */