*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigation{
   display: flex;
   align-items: center;
   justify-content:space-between;
   background: #fff;
   padding: 15px 30px;
   border-bottom: 3px solid #594ef7;
   /* width: calc(100% - 300px); */
   position: fixed;
   width: 100%;
}

.navigation .search{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d7dbe6;
  border-radius: 4px;
}
.navigation .search i{
margin-right: 14px;
}

.navigation .search input{
border: none;
outline: none;
font-size: 14px;
}

.navigation .profile{
display: flex;
justify-content: flex-start;
align-items: center;
}

.navigation .profile i{
margin-right: 20px;
font-size: 19px;
font-weight: 400;
}
.navigation .profile img{
width: 30px;
height: 30px;
object-fit: cover;
border-radius: 50%;
}

#bigger{

padding-top: 100px;
width: 60%;
margin-left: 300px;
position: fixed;
}

table {
width: 100%;
max-width: 800px;
margin: 0 auto;
border-collapse: collapse;
border-spacing: 0;
font-family: Arial, sans-serif;
font-size: 14px;
color: #333;
background-color: #fff;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

th, td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #f5f5f5;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.03em;
margin-top: 250px;
}

td {
font-weight: normal;
}
    .success {
        background-color: #1ee110;
    }
    .failure {
        background-color: #b92c2c;
    }
    .pending {
        background-color: #f9e148;
    }

tr:nth-child(even) td {
background-color: #f9f9f9;
}

tr:hover td {
background-color: #eaeaea;
cursor: pointer;
}

@media (max-width: 768px) {
th, td {
padding: 8px;
}
}